target/
wallet.json
.bloop/
.bsp/
.metals/
.vscode/
project/project/
metals.sbt
logs/
static/
secret.yaml
strata-wallet*.json
strata-wallet*.db
replica*.db
replicaConfig*.conf
strata-mnemonic.txt
genesisTxProved.pbuf
genesisTx.pbuf
helm/
integration/fundRedeemTx.pbuf
integration/fundRedeemTxProved.pbuf
integration/groupMintingtx.pbuf
integration/groupMintingtxProved.pbuf
integration/groupPolicy.yaml
integration/key.txt
integration/redeemTx.pbuf
integration/seriesMintingTx.pbuf
integration/seriesMintingTxProved.pbuf
integration/seriesPolicy.yaml
integration/user-wallet-mnemonic*.txt
integration/user-wallet*.db
integration/user-wallet*.json
integration/node01/
integration/node02/
integration/clientConfig*.conf
integration/clientPrivateKey*.pem
integration/clientPublicKey*.pem
integration/consensusPrivateKey*.pem
integration/consensusPublicKey*.pem
integration/redeemTxProved.pbuf
integration/bridge.db
integration/user-wallet.db

.direnv
/.idea/
